{% extends "base.html" %}

{% block content %}

    {% for olist in xobjects %}

    <div class="row">

        {% for o in olist %}

            <div class="col-xs-18 col-sm-6 col-md-3">
                {{ o }}
                {% include "pages/partials/thumbnail.html" %}
            </div>

        {% endfor %}



{#        <div class="col-xs-18 col-sm-6 col-md-3">#}
{#            {% include "pages/partials/thumbnail.html" %}#}
{#        </div>#}
{##}
{#        <div class="col-xs-18 col-sm-6 col-md-3">#}
{#            {% include "pages/partials/thumbnail.html" %}#}
{#        </div>#}

{#        <div class="col-xs-18 col-sm-6 col-md-3">#}
            {#            {% include "pages/partials/thumbnail.html" %}#}
{#        </div>#}

    </div><!-- End row -->


    {% endfor %}

{% endblock %}